<section class="navbar">
  <div class="container">
    <div class="navbar__inner">

      <a class="logo navbar__logo" href="#">
        <img class="logo-img" src="images/logo/ARShakir.svg" alt="logo">
      </a>
      <menu class="navbar__menu">
        <ul class="navbar__menu-list">
          <li class="navbar__menu-item">
            <a class="navbar__menu-link" href="#about">
              About
            </a>
          </li>
          <li class="navbar__menu-item">
            <a class="navbar__menu-link" href="#testimonail">
              Testimonail
            </a>
          </li>
          <li class="navbar__menu-item">
            <a class="navbar__menu-link" href="#contacts">
              Contacts
            </a>
          </li>
        </ul>
      </menu>
      <button class="burger-btn"><span></span></button>
      <a class="navbar__link" href="#">
        Sign In
      </a>
      <a class="btn navbar__btn">
        Start Free
      </a>
    </div>
  </div>
</section>